body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-image: url('fundoestoque.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.titulo {
  font-family: 'DM Serif Display', serif;
  font-weight: 100;
  font-size: 70px;
  color: #000000;
  margin-left: -30px;
  margin-bottom: 0;
}

.container {
  width: 1300px;
  height: 600px;
  background-color: #dcd8d4;
  border-radius: 36px;
  border: 4px solid #000000; /* borda apenas do container */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 30px;
  margin-left: 20px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  font-size: 35px;
  color: #000000;
}

.tabela th {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 10;
  font-size: 40px;
  text-align: center;
  padding-bottom: 5px;
}

.tabela td {
  background-color: #dcd8d4;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  border: none; /* sem bordas internas */
}

.quantidade-campo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button {
  font-size: 28px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease;
  width: 40px;
  height: 40px;
  font-weight: bold;
}

button:hover {
  transform: scale(1.2);
  color: #444;
}

.zerado {
  text-decoration: line-through;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.voltar {
  position: fixed;
  top: 25px;
  left: 25px;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease;
  z-index: 1000;
}

.voltar:hover {
  transform: scale(1.1);
}