/* body e centralização geral */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-image: url(fundo.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* bloco que agrupa título + container */
.bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* título */
.titulo {
  font-family: 'DM Serif Display', serif;
  font-size: 5.4em;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 400;
}

/* container principal */
.container {
  position: relative;
  background-color: #dcd8d4;
  border-radius: 40px;
  border: 4px solid black;
  width: 450px;  /* largura maior */
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.botao {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%; /* botão mais largo */
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 17px;
  background-color: #b0a69b;
  padding: 14px;
  border-radius: 40px;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 500;
}

.botao:hover {
  background-color: #a3978c; /* tom um pouco mais escuro */
  transform: translateX(-50%) scale(1.05); /* leve aumento */
  transition: all 0.2s ease-in-out; /* transição suave */
}

/* campo de senha */
.campo-senha input[type="password"] {
  background-color: #b0a69b;
  border: none;
  border-radius: 40px;   /* arredondado */
  padding: 18px 20px;    /* aumenta altura e largura */
  font-size: 18px;
  width: 100%;           /* ocupa toda a largura disponível */
  box-sizing: border-box;
  outline: none;
}

    .campo-senha {
      position: relative;
      width: fit-content;
    }

    .campo-senha input {
      padding-right: 30px; /* espaço para a seta */
    }

    .campo-senha button {
      position: absolute;
      right: 6px;
      top: 60%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 30px;
      color: #333;
    }

    .campo-senha button:hover {
      color: #000;
    }